.team-card{
    background-color: #F1F4FF;
    width: 900px;
    height: 120px;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between; /* 좌우 끝으로 배치 */
    align-items: center;  
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.team-card:hover {
    background-color: #dfe8ff;  /* 배경색 변경 */
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);  /* 그림자 추가 */
}

.team-text{
    width: 40%;
    font-size: 14px;
}

.team-content{
    width: 500px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.team-image {
    display: flex;
}

.team-image img {
    width: 70px;
    height: 70px;
    border-radius: 8px;
    margin-left: auto;
    padding: 10px;
}